@import "../framework/*";

#tag-cloud {
  @include box-sizing;
  height: 200px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddd;
}

.thoughts {
  margin-top: 10px;
  .pagination {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    
    .first {
      display: block;
      float: left;
    }
    .last {
      display: block;
      float: right;
    }
    .prev {
      margin-right: 20px;
    }
    .next {
      margin-left: 20px;
    }
    .page {
      cursor: default;
      margin: 12px;
      padding: 3px;
      a {
        padding: 2px;
      }
    }
    .gap {
      padding: 0 !important;
      margin: 0 !important;
    }
    .current {
      color: #777;
    }
  }
}

.thought {
  @include border-radius(1px);
  @include box-sizing;
  padding: 10px 3px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  &:hover {
    background-color: #f4f4f4;
    color: black;
  }
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.discussion {
  .comment {
    padding-top: 10px;
  }
  .content {
    padding-left: 10px;
  }
  .replies {
    padding-left: 55px;
  }
}
