@mixin space-children($spacing) {
  margin-left: $spacing;
  &:first-of-type { 
    margin-left: 0 
  }
}

@mixin border-radius($thickness) {
  -webkit-border-radius: $thickness;
     -moz-border-radius: $thickness;
       -o-border-radius: $thickness;
          border-radius: $thickness;
}

@mixin box-sizing {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
