<%= image_tag 'aj_ostrow.jpg', class: 'wrap-text' %>

<h3>
	Hello and welcome! 
	<small>
		Let me introduce myself&hellip;
	</small>
</h3>

<br>

<p>
	I’m an undergraduate <a href="http://www.mcgill.ca/ece/" target="_blank">Software Engineering</a> student at <a href="http://www.mcgill.ca/" target="_blank">McGill University</a>. I spend my time building web applications with startups, and I made this site to keep track of my software development ah, erm, development. 
</p>
<p>
	I started programming at <a href="http://garfieldhs.seattleschools.org/" target="_blank">Garfield High School</a> in Seattle. My first class was in beginning Python, and went on to AP Computer Science in Java. Helene Martin taught us Scheme at the beginning of the course, so I had an early introduction to each of scripting, object-oriented, and functional languages. 
</p>

<p>
	Starting in high school I interned three summers in a row with ADP Dealer Services (originally <a href="http://www.cobalt.com/" target="_blank">Cobalt</a>) in downtown Seattle. I had the pleasure of working for Chris Mills, and learned a ton from the whole team across the entire corporate application stack. 
</p>

<p>
	I moved to Montreal to study at McGill, and started spending a lot of time on extracurricular programming. I experimented with Android, finally releasing my first app Mastermind with the help of Jacob Barnett. I hit a roadblock with Android, as I did not know how to interact with a server, and thus started learning Ruby on Rails.
</p>

<p>
	Throughout my second year of university, I worked with Tal and Gary Schwartz on 4More, and we started <a href="http://4moreinnovation.com/" target="_blank">4More Innovation</a>, the parent company. I also slowly immersed myself into the Canadian startup community, frequenting the <a href="http://notman.org/en/" target="_blank">Notman House</a> and FounderFuel meetups. 
</p>

<p>
	After my second summer Artur Minacov, Zak Kain and I got accepted into the <a href="http://incubes.ca/" target="_blank">INcubes</a> business acceleration program. I promptly moved to Toronto to start working with Modreal. 
</p>

<p>
	I’ve come to appreciate how much programming has given me, both in terms of opportunities in the field, and also developing critical thinking skills that apply to everything in life. Specifically I feel capable, and less hesitant. I’d encourage you to start programming if you haven’t yet- it’s a pretty good skill for modern life.
</p>

<p>
	I’m also a big believer in open source software and free information. Learning how to build applications would have been impossible without the wealth of open source software and online educational materials. I’ve read books, watched tutorials and talks, used powerful IDEs, hosted websites, and installed countless modules for a grand total of $0.
</p>

<p>
	Anyway, thanks for taking an interest in me, and I hope you like the rest of the site!
</p>