<div class="content">
	
	<%= image_tag 'aj_ostrow.jpg', class: 'wrap-around' %>
	
	<p>
		I am a college student at <a href="http://www.mcgill.ca/">McGill University</a> 
		studying <a href="http://www.mcgill.ca/ece/">Computer Engineering</a>. In my spare 
		time I have a lot of extracurricular interests such as basketball, chess, music mixing, 
		and especially programming. The point of this site is to keep up with my programming 
		interests. 
	</p>
	<p>
		I started programming when I was 16 at <a href="http://garfieldhs.seattleschools.org/">Garfield High School</a> 
		in Seattle. I took a beginning programming course taught in Python by Ms. Martin. 
		I only had the course for about 2 months before I left to study in Israel on the <a href="http://www.amhsi.org/">AMHSI program</a>. 
		That summer I interned with <a href="http://www.cobalt.com/">Cobalt</a>, a Seattle company that specializes
		in online automobile marketing solutions. Over the summer I got introduced to a 
		professional development cycle and working with a huge database. I also got my
		first taste of reguler expressions and <a href="http://en.wikipedia.org/wiki/Unix">UNIX</a> command tools. 
	</p>
	<p>
		In my senior year of high school I took 
		<a href="http://www.collegeboard.com/student/testing/ap/sub_compscia.html?compscia">AP Computer Science</a>, 
		a year-long course taught in Java. We followed <a href="http://www.garfieldcs.com/ap-computer-science-plus-plus/2010-ap-cs/">a curriculum</a>
		beginning with <a href="http://en.wikipedia.org/wiki/Scheme_%28programming_language%29">Scheme</a>, 
		but mostly based on the <a href="http://www.buildingjavaprograms.com/">Building Java Programs</a> book. 
		I also chose to work on independent programming projects for a second class period each day in 
		second semester. For my side work, I started to learning about the Android platform, which uses a 
		<a href="http://developer.android.com/index.html">Java API</a>. 
		Over the summer I worked on many Android apps, but I did not finish any I thought were 
		worthy to release. That summer I returned to <a href="http://www.cobalt.com/">Cobalt</a> 
		and worked on advertisement attribution with Informatica and SQL overrides. 
	</p>
	<p>
		I moved to Montreal at the end of August, 2011 to enroll at <a href="http://www.mcgill.ca/">McGill University</a>, 
		and I entered into <abbr title="First Year">U0</abbr> <a href="http://www.mcgill.ca/ece/">Computer Engineering</a>. During first semester final exams, 
		I got the idea to make a new Android app <a href="#">Mastermind</a>. It 
		turns out many other people thought of this already, but I didn't think to check if it already existed. After winter break, I 
		began learning about web development with <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
	</p>
	
</div>				