<%= image_tag 'aj_ostrow.jpg', class: 'wrap-text' %>

<p>
	I am a college student at <a href="http://www.mcgill.ca/">McGill University</a> 
	studying <a href="http://www.mcgill.ca/ece/">Computer Engineering</a>. In my spare 
	time I have a lot of extracurricular interests including basketball, chess, music, 
	and especially programming. The point of this site is to keep up with my technical 
	interests. 
</p>
<p>
	I started programming in 11th grade at <a href="http://garfieldhs.seattleschools.org/">Garfield High School</a> in Seattle. 
	I took a beginning course taught in Python by Ms. Martin for about 2 months before I left to study in Israel on the 
	<a href="http://www.amhsi.org/">AMHSI program</a>. That summer I interned with <a href="http://www.cobalt.com/">Cobalt</a>, a Seattle company that specializes
	in online automobile marketing solutions. I have had the pleasure of working for Chris Mills for three summers now. After that first 
	summer I was hooked and I have vigorously pursued comp-sci ever since. 
</p>
<p>
	I moved to Montreal at the end of August, 2011 to enroll at <a href="http://www.mcgill.ca/">McGill University</a>, 
	and entered into <abbr title="First Year">U0</abbr> <a href="http://www.mcgill.ca/ece/">Computer Engineering</a>. I find Montreal
	a beautiful city and McGill possibly the funnest place on Earth. Despite a busy curriculum and lifestyle, I manage to find
	time to continue to learn and work on side projects. 
</p>
<p>
	I have come to appreciate how much programming has given me in terms of opportunities in the field, and also developing
	critical thinking skills that apply to everything in life. The best advice I got was from Michael Abrash, who told me to
	work on projects in my spare time. Without that suggestion I would never have learned how to make an Android app, web development,
	or a range of other topics that I thoroughly enjoyed learning. 
</p>
<p>
	Also, I am also a big believer in open source software and free information. I have benefited enormously from the 
	generosity of the software community and freelance internet educators (bloggers). I have read fantastic tutorials 
	and even whole books, used powerful IDEs, and installed countless external packages costing a grand total of $0. 
	I think the lack of monetary overhead to get started is something really wonderful and farily unique about software. 
	Upfront costs certainly would have dissuaded me. If you have time, you can be the best programmer
	in the world; that is something <a href="http://en.wikipedia.org/wiki/Dressage">dressage</a> certainly cannot boast. 
</p>
<p>
	Thanks for taking an interest in me, and I hope to keep the site up-to-date!
</p>
