<%= image_tag 'aj_ostrow.jpg', class: 'wrap-text' %>

<h3>
	Hello and welcome! 
	<small>
		Let me introduce myself&hellip;
	</small>
</h3>

<br>

<p>
	I’m a college student at <a href="http://www.mcgill.ca/">McGill University</a> majoring in 
	<a href="http://www.mcgill.ca/ece/">Computer Engineering</a>. I enjoy lots 
	of activities including basketball, chess, music, and especially programming. I made this 
	site to <span class="crossed-out">shamelessly promote myself</span> share my technical knowledge. 
</p>

<p>
	I got my first taste of programming at <a href="http://garfieldhs.seattleschools.org/">Garfield High School</a> 
	in Seattle. I learned Python for about two months before I left to study in Israel on the 
	<a href="http://www.amhsi.org/">AMHSI program</a>. That summer I interned with <a href="http://www.cobalt.com/">Cobalt</a>, 
	now a part of ADP Dealer Services, and have had the pleasure of working for Chris Mills three summers in a 
	row thereafter. 
</p>

<p>
	I moved to Montreal at the end of August, 2011 to begin my studies at McGill. Despite a busy lifestyle 
	and a rigorous curriculum, I manage to find time to shun sunlight and delve into computational side projects. 
	My extracurricular efforts are thanks to a <abbr title="Thanks for lending me the Nexus!">suggestion by Michael Abrash</abbr> 
	that I spend time writing code if I enjoy it. 
</p>

<p>
	I have come to appreciate how much programming has given me, both in terms of opportunities in the field, 
	and also developing critical thinking skills that apply to everything in life. Specifically I feel less 
	hesitant, more capable and astute. That’s why I encourage everyone I know to start programming if they 
	seem <abbr title="Not actually a requirement :)">remotely interested</abbr>. 
</p>

<p>
	I’m also a big believer in open source software and free information. I have benefited tremendously from 
	the generosity of the software community and <abbr title="bloggers">freelance internet educators</abbr>. I 
	have read fantastic tutorials and even whole books, watched educational videos, used powerful IDEs, hosted 
	websites, and installed countless external packages for a grand total of $0. The lack of monetary overhead 
	to get started is something really wonderful about software, and made all the difference to me. 
</p>

<p>
	Well, that’s all for our one-sided conversation. Thanks for taking an interest in me, and I hope you like the 
	rest of the site! 
</p>
