<p>
	I have been trying to learn and develop my knowlege base as rapidly as possible. I have learned varied skills programming
	on my own, in class, and over the summer interning for <a herf="http://www.adpdealerservices.com/">ADP Dealer Services</a>.
</p>
<p>
	I started out with Python, which is a wonderful language to start with. Over the summer I got introduced to a 
	professional development cycle and working with an Oracle database. I also got my
	first taste of reguler expressions and <a href="http://en.wikipedia.org/wiki/Unix">UNIX</a> command tools. 
</p>
<p>
	In 12th grade, I took <a href="http://www.collegeboard.com/student/testing/ap/sub_compscia.html?compscia">AP Computer Science</a>, 
	a year-long course taught in Java. We followed <a href="http://www.garfieldcs.com/ap-computer-science-plus-plus/2010-ap-cs/">a curriculum</a>
	beginning with <a href="http://en.wikipedia.org/wiki/Scheme_%28programming_language%29">Scheme</a>, 
	but mostly based on the <a href="http://www.buildingjavaprograms.com/">Building Java Programs</a> book. 
	I also chose to spend another hour each day learning the Android platform, but I didn't finish any apps I liked
	enough to release. That summer I returned to Cobalt | ADP
	and worked on advertisement attribution with Informatica and SQL overrides. 
</p>
<p>
	While at college, I finished Mastermind, and started learning web development with Ruby on Rails. I had to spend several
	months learning the basics of sematic markup and css, but eventually I even figured out jQuery selectors and nothing's been
	holding me back since.
</p>
<p>
	I spent the summer of 2012 back in Seattle interning at <a href="http://www.adpdealerservices.com/">ADP</a> and I worked on a plethora of projects 
	including data-driven visualizations with d3, raphael and processing.js, Facebook integration and data-scraping with selenium python bindings, and 
	writing scripts to generate ant tests. I have also been working on side projects, including <em>onYour Star</em>, a site geared towards encouraging
	artists to collaborate with each other, and <em>4more</em>, a company dedicated to aligning the goals of sport and charity. 
</p>

