<div class="row experience-section">
	<div class="content">
		<div>
			<p>
				Just starting my real <a href="http://www.mcgill.ca/ece/" target="_blank">computer engineering</a>
				coursework. Much to come&hellip;
			</p>
		</div>
	</div>
	<div class="image">
		<%= image_tag 'experience/mcgill.png' %> 
		<span>McGill University</span>
	</div>
</div>

<div class="row experience-section">
	<div class="image">
		<%= image_tag 'experience/adp.png' %> 
		<span>Automatic Data Processing</span>
	</div>
	<div class="content">
		<div>
			<p>
				Script-generated ant tests and detective work on the database schema when they failed.
			</p>
			<p>
				Web-scraping with selenium webdriver Python bindings.
			</p>
			<p>
				Audio file conversion and inspection with the Java Speech API.
			</p>
			<p>
				Data-driven visualizations written in CoffeeScript in a Node/Express framework with
				processing.js and raphael.js. 
			</p>
			<p>
				Updated Informatica workflows to pass tests; rewrote a lot of SQL overrides. 
			</p>
			<p>
				Parsed web logs with UNIX power tools to check page load times for IE6/IE7 records. 
			</p>
		</div>
	</div>
</div>

<div class="row experience-section">
	<div class="content">
		<div>
			<p>
				Self study time learning Android development and made a subpar Tabata Timer.
			</p>
			<p>
				AP Computer Science ++ course taught by Ms. Martin starting with 
				<a href="http://www.scheme.com/tspl4/" target="_blank">Scheme</a> and then loosely following the
				<a href="http://www.buildingjavaprograms.com/" target="_blank">Building Java Programs</a> book, 
				aka the <acronym title="University of Washington">UW</acronym> curriculum. 
			</p>
			<p>
				First computer science class ever in Python.
			</p>
		</div>
	</div>
	<div class="image">
		<%= image_tag 'experience/garfield.png' %>
		<span>Garfield High School</span>
	</div>
</div>

<div class="row experience-section">
	<div class="image">
		<%= image_tag 'experience/spare-time.png' %>
		<span>Spare Time</span>
	</div>
	<div class="content">
		<div>
			<p>
				Web development with Ruby on Rails and everything that comes with it. I'm trying to get better
				at graphic design and driving development with tests. 
			</p>
			<p>
				Android app development which culminated in <abbr title="On the projects page">Mastermind</abbr>.
			</p>
			<p>
				Working with <em>4more</em> and <em>onYour Star</em> to get some great ideas on the web. 
			</p>
		</div>
	</div>
</div>