.footer {
  border-top: 1px solid #eee;
  background-color: #f7f7f7;
  font-size: 9pt;
  text-align: center;
  margin-top: 25px;
  padding-bottom: 50px;
  .footer-top {
    color: #aaa;
    margin-top: 10px;
  }
  .footer-bottom {
    color: #ccc;
    margin-left: 3px;
  }
}