@import "../framework/*";

.title {
  width: 100%;
  text-align: center;
  font-family: Copperplate, Copperplate Gothic Light, sans-serif;
  font-size: 8em;
  font-weight: 300;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0.4em 0.2em 0.1em rgba(230,255,0, 0.4),
              -0.3em 0.05em 0.1em rgba(0,100,255, 0.4),
              0.2em -0.2em 0.1em rgba(255,0,0, 0.4)
}

#nav {
  margin-top: 5px;
}

.navigation {
  padding-top: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f7f7f7');
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f7f7f7));
  background: -moz-linear-gradient(top, #fafafa, #f7f7f7);
  overflow: visible;
  
  .container {
    overflow: visible;
  }
  
  ul {
    margin-bottom: -5px;
    width: 100%;
    list-style: none;
    display: inline-block;
    font-size: 20pt;
    li {      
      float: left;
      @include space-children(77px);
    }
  }
}

.nav-active {
  border-bottom: 1px solid rgba(130,40,205, 0.1);
  text-shadow: 0 0 0.04em rgba(0,0,0,0.2);
}