/*
 * All site-wide styling
 */

@import "framework";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: rgb(252, 252, 252);
  font-size: 1.02em;
  background-color: #fcfcfc;
}

div {
  overflow: hidden;
}

.row {
  width: 100%;
  clear: both;
  div {
    float: left;
  }
}

.container {
  display: block;
  margin: auto;
  width: $siteWidth;
  padding-left: $sitePadding 0;
}

.content {
  padding-top: $sitePadding;
  padding-bottom: $sitePadding;
  display: block;
  margin: auto;
}

a, :link {
  font-family: Brushstroke, fantasy;
  font-weight: 500;
  font-size: 0.9em;
  text-decoration: none;
  color: #222;
}
a:hover, a.hover {
  color: #888;
}
a:active, a.active {
  padding-top: 1px;
  color: #000;
}

p {
  margin-bottom: 15px;
}

em {
  font-style: italic;
}

abbr, acronym {
  border-bottom: 1px dotted #aaa;
}

img.wrap-text {
  float: left;
  margin-top: 4px;
  margin-right: 15px;
  margin-bottom: 11px;
}

h1 {
  font-size: 1.8em;
  text-shadow: 0.05em 0.08em 0.15em rgba(0,0,0,0.3);
}

h2 {
  font-size: 1.5em;
  text-shadow: 0.05em 0.08em 0.15em rgba(0,0,0,0.3);
}

h3 {
  font-size: 1.25em;
}

small {
  color: #777;
  font-size: 0.8em;
  margin-left: 5px;
  text-shadow: none;
}

.crossed-out {
  text-decoration: line-through;
}

.pull-right {
  float: right;
  text-align: left;
}

.tag {
  border-bottom: 2px dotted;
  margin-left: 5px;
}

span.link {
  display: none;
}
