
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: rgb(252, 252, 252);
  font-size: 1.02em;
  background-color: #fcfcfc;
}

div.container {

}
  

p {
  margin-bottom: 15px;
}

img.wrap-around {
  float: left;
  margin-right: 15px;
  margin-top: 4px;
  margin-bottom: 5px;
}

a {
  font-family: Brushstroke, fantasy;
  font-weight: 500;
  font-size: 0.9em;
  text-decoration: none;
  color: #222;
}

a:hover {
  font-family: Brushstroke, fantasy;
  font-weight: 500;
  font-size: 0.9em;
  text-decoration: none;
  color: #888;
}

abbr {
  border-bottom: dotted 1px;  
  cursor: help;
}

/* Utility */
div.rows div.row {
  clear: both;
  width: 100%;
}

div.rows div.clear-row {
  line-height: 0px;
  font-size: 0px;
  clear: both;
} 

div.container {
  display: block;
  margin: auto;
  width: 720px;
}

#title {
  width: 100%;
  height: 137px;
  text-align: left;
  font-family: Copperplate, Copperplate Gothic Light, sans-serif;
  font-size: 105pt;
  font-weight: 300;
  letter-spacing: -2px;
  text-shadow: 0.4em 0.2em 0.1em rgba(230,255,0, 0.4),
              -0.3em 0.05em 0.1em rgba(0,100,255, 0.4),
              0.2em -0.2em 0.1em rgba(255,0,0, 0.4)
}

#nav {
  width: 720px;
  margin-bottom: 5px;
}

nav {
  width: 710px;
  height: 28px;
  padding: 3px 5px 8px 5px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

ul {
  width: 720px;
  list-style: none;
  display: inline-block;
}

nav ul li {
  float: left;
  display: inline-block;
}

nav ul li a {
  font-size: 20pt;
}

nav ul li a:hover {
  font-size: 20pt;
}

li.element {
  margin-left: 49px;
}

div.content {
  width: 720px;
  margin-top: 5px;
  padding: 10px;
}

footer {
  font-size: 9pt;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  border-top: 1px solid #ccc;
}

div.footer-top {
  margin-top: 10px;
  color: #aaa;
}

div.footer-bottom {
  color: #ccc;
  margin-left: 3px;
}

/* Contact Page */

div.contact-info {
  float: left;
  width: 50%;
  margin-bottom: 15px;
}

div.contact-info * {
  margin-left: 50px;
}

div.social-media {
  width: 25%;
  float: left;
  margin-bottom: 15px;
  text-align: center;
}

div.social-media div {
  height: 120px;
  margin: 5px;
  border: 5px solid;
      
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15pt;
  line-height: 110px;
  
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
}

#facebook {
  border-color: rgba(59, 89, 152, 0.6);
  background-color: rgba(59, 89, 152, 0.08);
}

#google-plus {
  border-color: rgba(214, 73, 42, 0.6);
  background-color: rgba(214, 73, 42, 0.08);
}

#linked-in {
  border-color: rgba(72, 117, 180, 0.6);
  background-color: rgba(72, 117, 180, 0.08);
}

#twitter {
  border-color: rgba(51, 204, 255, 0.6);
  background-color: rgba(51, 204, 255, 0.08);
  background-image: url(../img/social/twitter.png);
  background-size:100px 100px;
  background-repeat:no-repeat;
  background-position: center;
}


/* Projects */

h2 small {
  color: #777;
}

div.pagination {
  margin-left: 220px;
  padding-top: 50px;
}

div.pagination li {
  float: left;
  margin-left: 35px;
}

div.pagination li span {
  cursor: pointer;
}


