@import "framework";

.markdown {
  font-size: 1.1em;
  margin-top: 30px;
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
    margin-bottom: 15px;
    text-shadow: none;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.3em;
  }
  p {
    margin-bottom: 20px;
  }
  ul {
    list-style: square inside;
    padding-bottom: 15px;
  }
}

.CodeRay {
  @include border-radius(3px);
  @include box-sizing;
  width: 100%;
  background: rgba(0,0,0,0.1);
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  font-family: monospace;
  span {
    background-color: none !important;
  }
}