@import "framework";

.experience-section {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 80px;
  .image {
    width: 30%;
    img {
      width: 100%;
      box-shadow: 0 4px 6px -6px black;
    }
    span {
      width: 100%;
      padding-top: 5px;
      display: block;
      text-align: center;
    }
  }
  .content {
    width: 70%;
    div {
      padding: 5px 30px;
    }
  }
}

.delete-button {
  margin-top: 20px;
  background-color: #cc0000;
  color: #ddd;
  @include border-radius(3px);
  border: 1px solid #777;
  padding: 5px;
}

