@import "framework";

.project {
  @include box-sizing;
  float: left;
  width: 50%;
  padding: 15px;
  margin-top: 20px;
  @include border-radius(3px);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  &:hover {
    background-color: #f5f5f5;
  }
  p {
    margin-top: 5px;
  }
  h2 {
    display: inline-block;
  }
  span {
    font-size: 0.9em;
    opacity: 0.8;
  }
}

.markdown {
  margin-top: 15px;
  background-color: #fff;
  @include border-radius(10px);
}
