@import "framework";

@mixin tag($size, $color) {
  font-size: $size;
  color: $color;
  margin: 0 5px;
}

/* Tag cloud */
.tag-huge {
  @include tag(1.6em, #333);
}
.tag-large {
  @include tag(1.4em, #444);
}
.tag-medium {
  @include tag(1.2em, #555);
}
.tag-small {
  @include tag(1.0em, #666);
}

.thoughts {
  margin-top: 10px;
}

.thought {
  @include border-radius(1px);
  @include box-sizing;
  padding: 10px 3px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  &:hover {
    background-color: #f4f4f4;
    color: black;
  }
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.discussion {
  .comment {
    padding-top: 10px;
  }
  .content {
    padding-left: 10px;
  }
  .replies {
    padding-left: 55px;
  }
}
