<%= link_to thought_path(thought, anchor: 'nav') do %>
	<div class="row thought">
		<span class="pull-right">
			<%= thought.display_time %>
		</span>
		<h2>
			<%= thought.title %>
		</h2>
		<p>
			<%= thought.blurb %>
		</p>
	</div>
<% end %>
