<% if editor? %>
	<%= link_to "Share new thought", new_thought_path, class: 'btn' %>
<% end %>

<% tag_cloud(@tags.shuffle, %w(tag-small tag-medium tag-large tag-huge)) do |tag, css_class| %>
  <%= link_to tag.name, thoughts_path(tags: [tag.to_s]), :class => css_class %>
<% end %>

<div class="thoughts">
	<%= render @thoughts %>
</div>

