<footer class="rows">
	
	<div class="row footer-top">
		01010100 01101000 01100001 01101110 01101011 01110011 00100000 01100110 01101111 01110010 00100000 01110110 
	</div>
	<div class="row footer-bottom">
		01101001 01110011 01101001 01110100 01101001 01101110 01100111 00100001 
	</div>
</footer>
