<header>
	
	<div class="row title">
		AJ Ostrow
	</div>
	
	<div id="nav"></div>
	
	<hr>
	
	<nav class="row">
		<ul>
			<li>
				<%= link_to 'About', root_path(anchor: 'nav') %>
			</li>
			<li class="element">
				<a href="#">Thoughts</a>
			</li>
			<li class="element">
				<%= link_to 'Projects', projects_path(anchor: 'nav') %>
			</li>
			<li class="element">
				<%= link_to 'Experience', experience_path(anchor: 'nav') %>
			</li>
			<li class="element">
				<%= link_to 'Contact', contact_path(anchor: 'nav') %>
			</li>
		</ul>
	</nav>
	
	<hr>

</header>

<!--
<div class="rows">
	
	<div class="row">
		
		<div id="title">
			AJ Ostrow
		</div>
		
		<div class="clear-row">
      &nbsp;
    </div>
	</div>
	<div class="row">
		
		<nav class="row">
			
		</nav>
		
		<div class="clear-row">
      &nbsp;
    </div>
	</div>
		
</div>
-->