<div class="rows">
	
	<div class="row">
		
		<div id="title">
			AJ Ostrow
		</div>
		
		<div class="clear-row">
      &nbsp;
    </div>
	</div>
	<div id="nav"></div>
	<div class="row">
		
		<nav class="row">
			<ul>
				<li>
					<%= link_to 'About', root_path(anchor: 'nav') %>
				</li>
				<li class="element">
					<a href="#">Thoughts</a>
				</li>
				<li class="element">
					<a href="#">Projects</a>
				</li>
				<li class="element">
					<a href="#">Experience</a>
				</li>
				<li class="element">
					<a href="#">Contact</a>
				</li>
			</ul>
		</nav>
		
		<div class="clear-row">
      &nbsp;
    </div>
	</div>
		
</div>