<!DOCTYPE html>
<html lang='en'>

<%= render 'layouts/head' %>

<body>
	
	<div class="container">
		
		<div class="content">
			
			
			<%= render 'layouts/header' %>
	
			<section class="page">
				<div class="page-inner">
					<%= yield %>
				</div>
			</section>
			
			<%= render 'layouts/footer' %>
			
		</div>
		
	</div>

</body>
</html>
